.bg-image-mobile-position {
    background-position: 85%;
}
.bg-right {
    background-position: 100%;
}
.bg-cover {
    background-size: cover;
}
.w-full {
    width: 100%;
}
.min-h-screen {
    min-height: 100vh;
}