.slider {
  overflow-y: hidden;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.slider.opened {
  max-height: 1500px;
}

.slider {
  padding: 0 1em;
  margin: 1em 0;
  border-radius: .2em;
  max-height: 0;
}

.button {
  display: block;
  height: 2em;
  background-color: darkslategray;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 2em;
  line-height: 2em;
  border-radius: .25em;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  background-color: coral;
}
.button:active {
  text-decoration: none;
  background-color: #ff7441;
}