/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@font-face {
  font-family: "F37"; /*a name to be used later*/
  src: url("./F37Judge-MediumCompressed.woff2"); /*URL to font*/

}
@font-face {
  font-family: "coanda"; /*a name to be used later*/
  src: url("./Coanda-Regular.woff"); /*URL to font*/

}

@font-face {
  font-family: "inter"; /*a name to be used later*/
  src: url("./Inter-Regular.woff"); /*URL to font*/
}

@font-face {
  font-family: "inter"; /*a name to be used later*/
  src: url("./Inter-Regular.woff"); /*URL to font*/
}
@font-face {
  font-family: "Gotham"; /*a name to be used later*/
  src: url("./Gotham-Medium.otf"); /*URL to font*/
}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --ease: ease-in-out; /* eeee esto es nuevo*/
  /*========== Colors ==========*/
  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #ffffff;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #000000;
  --nav-menu-color: #f7f7f7;
  --container-color: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --box-shadow-card-container-color: rgba(65, 11, 16, 0.15);
  --box-shadow-card-container-hover: rgba(65, 11, 16, 0.3);

  /*========== Font and typography ==========*/
  --body-font: "coanda", sans-serif;
  --header-font: "inter", sans-serif;
  --headline-font:"f37", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-front-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.body-text{
  font-family: var( --body-font);

}

/* scroll bar*/
body::-webkit-scrollbar {
	width: 8px !important;
	-webkit-overflow-scrolling: auto !important;
}
body::-webkit-scrollbar-thumb {
	background: rgb(53, 52, 52) !important;
	background: linear-gradient(25deg, rgb(129, 126, 128) 0%, rgb(100, 100, 99) 100%) !important;
	border-radius: 4px !important;
}
body::-webkit-scrollbar-track {
	background: #222 !important;
}


@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
*,
::before
::after {
  box-sizing: border-box;

}

/* headline font*/
.headline-2 {
  font-family: var(--headline-font);
  font-size: 120px;
  text-transform: uppercase;
  line-height: .9;
  letter-spacing: .01em;
}

.text-center {
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}


/* header font*/
.header-font {
  font-family: Inter;
  font-size: 12px;
  letter-spacing: .1em;
}

/* header logo*/
.left-1\/2 {
  left: 50%;
}
.absolute {
  position: absolute;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.z-50 {
  z-index: 50;
}

.top-4 {
  top: 1rem;
}

.duration-500 {
  transition-duration: .5s;
}

.justify-center {
  justify-content: center;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
/* new footer*/
.h-auto {
  height: auto;
}
.relative {
  position: relative;
}
.text-\[8px\] {
  font-size: 8px;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}

@media (min-width: 768px){
.md\:space-x-12>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}
.md\:justify-start {
    justify-content: flex-start;
}
.md\:w-auto {
    width: auto;
}
.md\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
}
@media (min-width: 640px){
.sm\:justify-center {
    justify-content: center;
}
.sm\:flex {
    display: flex;
}
}
.text-center {
    text-align: center;
}
.w-full {
    width: 100%;
}
.mt-8 {
    margin-top: 2rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.uppercase {
  text-transform: uppercase;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.border-gray-light {
  --tw-border-opacity: 1;
  border-color: rgb(142 142 142/var(--tw-border-opacity));
}
.border-b-\[1px\] {
  border-bottom-width: 1px;
}
.truncate, .whitespace-nowrap {
  white-space: nowrap;
}
.inline-block {
  display: inline-block;
}
.footer-text {
  font-family: Inter;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: .1em;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}
a, a:focus, button, button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
a, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}



@media (min-width: 768px)
{
.md\:w-full {
    width: 100%;
}
}
.text-gray-light {
    --tw-text-opacity: 1;
    color: rgb(142 142 142/var(--tw-text-opacity));
}
.font-cta {
    font-family: Inter;
}
.pt-12 {
    padding-top: 3rem;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.w-screen {
    width: 100vw;
}
.flex {
  display: flex;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
z-20 {
  z-index: 20;
}

.relative {
  position: relative;
}
*, :after, :before {
  /* box-sizing: border-box; */
  border: 0 solid;
}
.font-cta {
  font-family: var(--header-font);
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}

.flex {
  display: flex;
}
@media (min-width: 768px)
{
.md\:text-left {
    text-align: left;
}

.md\:mt-0 {
    margin-top: 0;
}
.md\:mb-0 {
    margin-bottom: 0;
}
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.truncate, .whitespace-nowrap {
    white-space: nowrap;
}
.border-b-\[1px\] {
  border-bottom-width: 1px;
}
.pb-1 {
  padding-bottom: 0.25rem;
}


  .md\:my-0 {
    margin-top: 0;
    /* margin-bottom: 0; */
}


@media (min-width: 768px){
.md\:justify-end {
    justify-content: flex-end;
}
.md\:mt-0 {
    margin-top: 0;
}
}
.pt-\[2px\] {
    padding-top: 2px;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.justify-end {
    justify-content: flex-end;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}

.block {
    display: block;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-8 {
    margin-top: 2rem;
}
.footer-text {
    font-family: Inter;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: .1em;
}
/* Faz com que a rolagem da landing page até o id
seja suave: */
html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #151520;
  --nav-menu-color: #1b1b2c;
  --container-color: #313131;
  --first-color-send: #3a3939;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --box-shadow-card-container-color: rgba(255, 255, 255, 0.15);
  --box-shadow-card-container-hover: rgba(255, 0, 0, 0.3);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  --tw-text-opacity: 1;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* scroll progress icon*/


.scroll-top-button {
	position: fixed;
	right: 20px;
	bottom: 40px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}
@media screen and (min-width: 992px)
{
  .circlef svg {
     width: 40px;
}
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.section-title-center b {
  font-size: var(--biggest-font-size);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}
.m-0 {
  margin: 0;
}
.bd-container {
  max-width: 986px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.l-header {
  width: 100%;
  position: fixed;
  margin-top:30px;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  justify-content: space-between;
  align-items: center;
  /*background-color: var(--body-color);*/
  font-size: 18px;
  font-family:var(--header-font);
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  letter-spacing: .1em;
}

/* new header */
*, :after, :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.space-x-4>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(1rem * var(--tw-space-x-reverse));margin-left:calc(1rem * calc(1 - var(--tw-space-x-reverse)))}
.space-y-4>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1rem * var(--tw-space-y-reverse))}.space-y-5>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1.25rem * var(--tw-space-y-reverse))}.space-x-2>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(.5rem * var(--tw-space-x-reverse));margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)))}.space-y-3>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.75rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.75rem * var(--tw-space-y-reverse))}
.l-header-new {
  width: 100%;
  position: fixed;
  height: 4.5rem;
  right:0;
  left: 0;
  display:flex;
  z-index: 60;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  /*background-color: var(--body-color);*/
  font-size: 18px;
  font-family:var(--header-font);
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  letter-spacing: .1em;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.h-3 {
  height: 0.75rem;
}
.space-x-6>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255/var(--tw-border-opacity));
}
.border {
  border-width: 1px;
}
.rounded-sm {
  border-radius: 3px;
}
.justify-start {
  justify-content: flex-start;
}
.flex-col {
  flex-direction: column;
}
@media (min-width: 768px){
.md\:-mt-3 {
    margin-top: -0.75rem;
}
.md\:mb-0 {
    margin-bottom: 0;
}
}
@media (min-width: 1280px){
.xl\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
}
}
@media (min-width: 1024px){
.lg\:right-auto {
    right: auto;
}
.lg\:left-auto {
    left: auto;
}
.lg\:top-auto {
    top: auto;
}
.lg\:relative {
    position: relative;
}
}
.wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.h-20 {
    height: 5rem;
}
.flex {
    display: flex;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.fixed {
    position: fixed;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
.translate-y-0, .translate-y-2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2, .-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.z-50 {
  z-index: 50;
}
.top-4 {
  top: 1rem;
}
.left-1\/2 {
  left: 50%;
}
.absolute {
  position: absolute;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}
a, a:focus, button, button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
a, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

@media (min-width: 1280px){
.xl\:h-\[50px\] {
    height: 50px;
}
}
.scale-y-\[-1\], .transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-y-\[-1\] {
    --tw-scale-y: -1;
}
.h-\[40px\] {
    height: 40px;
}
.h-\[80px\] {
  height: 80px;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
.translate-y-0, .translate-y-2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-1 {
  flex: 1 1 0%;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.header-button {
  font-family: Inter;
  font-size: 12px;
  letter-spacing: .1em;
}
@media (min-width: 1024px){
.lg\:space-x-5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
}
.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
@media (min-width: 768px){
.md\:w-auto {
    width: auto;
}
.md\:-mt-3 {
    margin-top: -0.75rem;
}
.md\:mb-0 {
    margin-bottom: 0;
}
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-center {
    text-align: center;
}
.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-sm {
    border-radius: 3px;
}
.justify-start {
    justify-content: flex-start;
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
.mt-14 {
    margin-top: 3.5rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.relative {
    position: relative;
}

@media (min-width: 1024px)
{
.lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
}
@media (min-width: 768px){
.md\:h-9 {
    height: 2.25rem;
}
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}
.h-12 {
    height: 3rem;
}

.relative {
    position: relative;
}
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px){
.md\:pb-2 {
    padding-bottom: 0.5rem;
}
.md\:pt-0 {
    padding-top: 0;
}

.md\:justify-start {
    justify-content: flex-start;
}
}
.leading-\[1\] {
    line-height: 1;
}
/* */

/*about*/
@media (min-width: 768px){
.md\:pt-44 {
    padding-top: 11rem;
}
}
.z-10 {
  z-index: 10;
}
.pb-8 {
    padding-bottom: 2rem;
}
.pt-32 {
    padding-top: 8rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.absolute {
  position: absolute;
}

.animate-scale-down {
  -webkit-animation: scale-down 1.25s ease-out forwards;
  animation: scale-down 1.25s ease-out forwards;
}
.object-center {
  -o-object-position: center;
  object-position: center;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 1280px){
.standard-wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
}
}
@media (min-width: 768px){
.standard-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
}
}
.standard-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.text-left {
  text-align: left;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.animate-fade-up {
  animation: fade-up .75s var(--ease) forwards;
}
.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
@media (min-width: 1280px){
.headline-2 {
  font-size: 150px;
}
}
@media (min-width: 1024px){
.headline-2 {
  font-size: 135px;
}
}
@media (min-width: 768px){
.headline-2 {
  font-size: 110px;
  line-height: .88;
}
}


.animate-fade-up>* {
  -webkit-animation: fade-up .75s var(--ease) forwards;
  animation: fade-up .75s var(--ease) forwards;
}
/* fade */
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
@media (min-width: 768px){
.connect-dropdown-list a, .connect-dropdown-list button {
    /* --tw-border-opacity: 1; */
    border-top-color: rgb(60 60 60/var(--tw-border-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
  .cta {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

.connect-dropdown-list a, .connect-dropdown-list button {
    width: 100%;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-top-color: rgb(255 255 255/var(--tw-border-opacity));
    padding: 1rem 0.5rem;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
.duration-200 {
    transition-duration: .2s;
}
button {
  appearance: auto;
  writing-mode: horizontal-tb !important;

  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;

}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
a, button {
    -webkit-tap-highlight-color: transparent;
}

/*========== NAV ==========*/

.nav {
  height: var(--header-height);
  align-items: center;
}


.nav_menu {

  margin-left: 10px;
  text-align: center;


}
.nav_menu2 {

  margin-right: 10px;
  text-align: center;


}
.flex-1 {
  flex: 1 1 0%;
}
.justify-between {
  justify-content: space-between;
}

/*web3 nav*/
.items-start {
  align-items: flex-start;
}
.flex {
  display: flex;
  /* flex-wrap: nowrap; */
}
.web3nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: px;

  text-align: center;

}


@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--nav-menu-color);
    transition: 0.4s;
    box-shadow: 0 0 4px var(--box-shadow-color);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav_item {
  margin-bottom: var(--mb-3);
}

.nav_link,
.nav_logo,
.nav_toggle {
  color: var(--title-color);
  margin: 0;
  font-weight: var(--font-semi-bold);
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px var(--box-shadow-color);
}

/* Scroll Top */
.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(218, 37, 53, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrollTop:hover {
  background-color: var(--first-color);
}

.scrollTop_icon {
  font-size: 2.5rem;
  color: #fff;
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}


/*----scroller */
.scroller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid #fff;
  border-radius: 30px;
}
.scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
          animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}
.scroller small {
  position: absolute;
  width: 174px;
  left: -64px;
  top: -34px;
}


/*========== HOME ==========*/
.home{
  margin-bottom: 50rem;
  width: 100%;


}


.home_img {
  width: 280px;
  justify-self: center;
}

.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home_title b {
  color: var(--first-color);
}

.home_description {
  margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}



/* ROADMAP*/



@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
  font-style: normal;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;

  position: relative;
}

.ag-timeline-block {
  padding: 300px 0;
}
.ag-timeline_title-box {
  padding: 0 0 30px;

  text-align: center;
}
.ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}
.ag-timeline_title {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
}
.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 0.75rem;
  background-color: #808080;

  position: absolute;
  top: -0.33rem;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  top: -0.25rem;
  width: 100%;
  height: 20%;
  background-color: rgb(255, 255, 255);
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -25px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 0px solid #FF0;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.3);

  text-align: center;
  font-family: 'ESL Legend', sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #E82127;
}
.ag-timeline-card_meta-box {
  display: inline-block;
}
.ag-timeline-card_meta {
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: rgb(255, 255, 255);
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;

  opacity: 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;

  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_img {
  width: 100%;
}
.ag-timeline-card_info {
  padding: 20px 30px;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #FF0;
}
.ag-timeline-card_desc {
  line-height: 1.45;
  font-family: var( --body-font);
  font-size: 16px;
  color: #FFF;
}


/* faq*/



.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}



/* new header cxss*/

.heroEffects {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1;
  top: 0;
  width: 100%;

  left: 0;
}
.heroEffects .bg {
  height: 100vh;
  position: fixed;
  width: 100%;
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/jungleBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
  transform: scale(1);
}
.heroEffects .shade {
  opacity: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 3;
  height: 100vh;
  position: fixed;
  width: 100%;
}


.heroEffects .logotext {
  z-index: 1;
  width: 100%;

}



.centerV {
  display: table;
  height: 100%;
}
.centerV > div {
  display: table-cell;
  vertical-align: middle;
}




.bouncy {
  -webkit-animation: Weeeeeeeeeee 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: Weeeeeeeeeee 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes Weeeeeeeeeee {
  0% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  11% {
    transform: translate(0, -25px) scaleX(0.8);
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
            animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  20% {
    transform: translate(0, 0px) scaleY(0.8);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  28% {
    transform: translate(0, -10px);
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
            animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  36% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  100% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
}

@keyframes Weeeeeeeeeee {
  0% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  11% {
    transform: translate(0, -25px) scaleX(0.8);
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
            animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  20% {
    transform: translate(0, 0px) scaleY(0.8);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  28% {
    transform: translate(0, -10px);
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
            animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  36% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  100% {
    transform: translate(0, 0px);
    -webkit-animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
            animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}





/* */


@media (min-width: 1024px)
{


.lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.lg\:overflow-visible {
    overflow: visible;
}
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pb-48 {
    padding-bottom: 12rem;
}
.overflow-auto {
    overflow: auto;
}
.w-screen {
    width: 100vw;
}
.mt-32 {
    margin-top: 8rem;
}
.mb-32 {
  margin-bottom: 8rem;
}


.z-0 {
    z-index: 0;
}
.relative {
    position: relative;
}
.pb-48 {
  padding-bottom: 12rem;
}
.overflow-auto {
  overflow: auto;
}
.w-screen {
  width: 100vw;
}
.mt-32 {
  margin-top: 8rem;
}
.z-0 {
  z-index: 0;
}
.relative {
  position: relative;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
}
@media (min-width: 1024px)
{
.lg\:right-0 {
    right: 0;
}
.lg\:left-0 {
    left: 0;
}

.lg\:bottom-0 {
    bottom: 0;
}
}

.text-center {
  text-align: center;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.mt-8 {
  margin-top: 2rem;
}
.cta-small {
  font-family: Inter;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.space-y-2>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.animate-scale-down {
    -webkit-animation: scale-down 1.25s ease-out forwards;
    animation: scale-down 1.25s ease-out forwards;
}
.bottom-1 {
    bottom: 0.25rem;
}
.left-5 {
    left: 1.25rem;
}
.absolute {
    position: absolute;
}


@media (min-width: 1024px){
  .lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
    .lg\:overflow-visible {
      overflow: visible;
  }
}

.pb-48 {
  padding-bottom: 12rem;
}
.overflow-auto {
  overflow: auto;
}
.w-screen {
  width: 100vw;
}
.mt-32 {
  margin-top: 8rem;
}
.z-0 {
  z-index: 0;
}
.relative {
  position: relative;
}


.pb-12 {
  padding-bottom: 3rem;
}
.max-w-\[1400px\] {
  max-width: 1400px;
}
.w-full {
  width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}

@media (min-width: 1024px)
{
  .lg\:px-0 {
    padding-left: 0;
    padding-right: 0;
}
  .lg\:gap-x-3 {
    -moz-column-gap: .75rem;
    column-gap: 0.75rem;
  }
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5,minmax(0,1fr));
}
  .lg\:w-full {
    width: 100%;
  }
  .lg\:grid {
    display: grid;
}
.md\:w-\[1295px\] {
  width: 1295px;
}
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.justify-start {
    justify-content: flex-start;
}
.animate-fade-up {
    -webkit-animation: fade-up .75s var(--ease) forwards;
    animation: fade-up .75s var(--ease) forwards;
}
.w-\[965px\] {
    width: 965px;
}
.flex {
    display: flex;
}
.z-30 {
    z-index: 30;
}
/* SCROLL ICON*/

.effect-shine:after {
  content: attr(data-text);
  color: #767879;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-family: sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-80deg, rgba(120,120,120,0.9) 15%, #fff 30%,  rgba(120,120,120,0.9) 45%);
  background-size: 300%;
  background-blend-mode: hard-light;
  animation: shine 6s linear infinite;
  transform-origin: left 0;
}

@keyframes shine {
  from { background-position: 50%; }
  to { background-position: -250%; }
}


.scroll-down-wrap{
  transition:opacity 0.4s ease;
  -webkit-transition:opacity 0.4s ease;
  -moz-transition:opacity 0.4s ease;
}
.scroll-down-wrap,.scroll-down-wrap.no-border{
  z-index:1;
  position: fixed;
  left: 50%;
  align-items: center;
  bottom: 0;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  opacity: 1;
}
.scroll-down-wrap.no-border,.scroll-down-wrap.no-border{
  bottom:12px;
}
.scroll-down-wrap.no-border .section-down-arrow{
  display:inline-block;
  width:49px;
  height:49px;
  color:#fff!important;
  border:2px solid #fff;
  text-align:center;
  line-height:50px;
  border-radius:100px;
  font-size:25px;
  -webkit-border-radius:100px;
  transition:opacity 0.4s ease;
  -webkit-transition:opacity 0.4s ease;
  -moz-transition:opacity 0.4s ease;
  overflow:hidden;
  margin-left:0px;
  left:0;
  bottom:16px;
  opacity:0.6;
}
.scroll-down-wrap.no-border .section-down-arrow,.slider-down-arrow.no-border{
  border:none!important;
  overflow:visible;
  text-align:center;
  opacity:1;
  height:auto;
  bottom:13px;
  -webkit-animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
  animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
}
.nectar-scroll-icon-path{
  fill:transparent;
  stroke-width:2px;
  stroke-dashoffset:120;
  stroke-dasharray:120;
  -webkit-animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
  animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
}
.nectar-scroll-icon{
  width:30px;
  height:45px;
  text-align:center;
  cursor:pointer;
  position:relative;
  z-index:100;
}
.scroll-down-wrap.no-border .section-down-arrow:after,.slider-down-arrow.no-border:after{
  content:"";
  position:absolute;
  top:0;
  left:50%;
  display:block;
  width:30px;
  height:45px;
  margin-left:-15px;
  border:2px solid rgba(255,255,255,0.5);
  border-radius:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  z-index:62;
}
.scroll-down-wrap.no-border:hover .section-down-arrow:before, .slider-down-arrow.no-border:hover:before{
  background-color:rgba(255,255,255,1);
}
.scroll-down-wrap.no-border:hover .nectar-scroll-icon-path, .slider-down-arrow.no-border:hover .nectar-scroll-icon-path{
  stroke-dashoffset:0;
  -webkit-animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1);
  animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1)
}
@-webkit-keyframes mouse-scroll-btn-roll-over{
  0%{stroke-dashoffset:120}
  100%{stroke-dashoffset:0}
}
@keyframes mouse-scroll-btn-roll-over{
  0%{stroke-dashoffset:120}
  100%{stroke-dashoffset:0}
}
@-webkit-keyframes mouse-scroll-btn-roll-out{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-120}
}
@keyframes mouse-scroll-btn-roll-out{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-120}
}
.scroll-down-wrap.no-border .section-down-arrow:before,.slider-down-arrow.no-border:before{
  position:absolute;
  content:'';
  display:block;
  left:50%;
  margin-left:-1px;
  top:22px;
  background-color:rgba(255,255,255,0.5);
  width:2px;
  height:6px;
  border-radius:10px;
  transition:background-color .55s cubic-bezier(.5,.1,.07,1);
  -webkit-animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
  animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
}
@-webkit-keyframes trackBallSlide{
  0%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  45%{
    opacity:0;
    -webkit-transform:scaleY(0.5) translateY(13px);
    transform:scaleY(0.5) translateY(13px);
  }
  46%{
    opacity:0;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  65%,100%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
}
@keyframes trackBallSlide{
  0%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  45%{
    opacity:0;
    -webkit-transform:scaleY(0.5) translateY(13px);
    transform:scaleY(0.5) translateY(13px);
  }
  46%{
    opacity:0;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  65%,100%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
}
@keyframes nudgeMouse{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  45%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px);
  }
  65%,100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}
@-webkit-keyframes nudgeMouse{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  45%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px);
  }
  65%,100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}

/*traits container */
@media (min-width: 768px){
  .md\:before\:h-\[40vh\]:after {
    content: var(--tw-content);
    height: 40vh;
}
}
.before\:h-\[40vh\]:after {
    content: var(--tw-content);
    height: 40vh;
}

@media (min-width: 1024px){
.bg-top-fade:after {
    content: var(--tw-content);
    height: 50vh;
}
.bg-bottom-fade:after {
  content: var(--tw-content);
  z-index: 10;

}

}



.-z-10 {
  z-index: -10;
}
.bg-top-fade:before {
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #000;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,transparent);
    --tw-content: "";
    content: var(--tw-content);
}


.bg-bottom-fade {
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: block;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(to top,var(--tw-gradient-stops));
  --tw-gradient-from: #000;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,transparent);
  --tw-content: "";
  content: var(--tw-content);
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container.astro-FHVEG6RT {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px){
.icon.astro-FHVEG6RT {
    margin-right: 2rem;
}
}
.icon.astro-FHVEG6RT {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-right: 1rem;
}
.img-container.astro-FHVEG6RT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.title.astro-FHVEG6RT {
  font-family: var(--body-font);
  font-size: .7rem;
  text-transform: uppercase;
  margin-top: 1rem;
  text-align: center;
}
/*========== SHARE ==========*/
.share_data {
  text-align: center;
}

.share_description {
  margin-bottom: var(--mb-2);
}

.share_img {
  width: 280px;
  justify-self: center;
}

/*========== DECORATION ==========*/
.decoration_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.decoration_cards {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px var(--box-shadow-card-container-color);
  border-radius: 1rem;
}

.decoration_cards:hover {
  box-shadow: 0 3px 12px var(--box-shadow-card-container-hover);
}

.decoration_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
/*========== ACCESSORIES ==========*/
.accessories_container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.accessory_content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px var(--box-shadow-card-container-color);
  border-radius: 1rem;
}

.accessory_content:hover {
  box-shadow: 0 3px 12px var(--box-shadow-card-container-hover);
}

.accessory_img {
  width: 110px;
  justify-self: center;
  margin-bottom: 0.25rem;
}

.accessory_title,
.accessory_category {
  text-align: center;
}

.accessory_category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.accessory_price {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-left: 1rem;
}

.accessory_button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/

.send {
  background-color: var(--first-color-send);
}

.send_title,
.send_description {
  color: #fff;
}

.send_description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.send_address {
  display: flex;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.send_input {
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.send_img {
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer_logo {
  color: var(--title-color);
}

.footer_title {
  margin-bottom: var(--mb-2);
}

.footer_logo,
.footer_title {
  font-size: var(--h3-font-size);
}

.footer_description b {
  color: var(--first-color);
}

.footer_link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer_social:hover {
  color: var(--first-color);
}

.footer_copyright {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}
/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home_container,
  .share_container,
  .send_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home_container {
    padding: 5rem 0 0;
  }

  /* Deixa a imagem do lado direito: */
  .home_img {
    order: 1;
  }

  .section-title-center,
  .share_data,
  .send_description {
    text-align: initial;
  }

  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }

  /* Deixa a imagem do lado esquerdo: */
  .share_img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_list {
    display: flex;
    align-items: center;
  }

  .nav_list2 {
    display: flex;
    align-items: center;
    float: right;
  }
  .nav_item2 {
    margin-right: var(--mb-5);
    margin-bottom: 0;

  }
  .nav_item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  /* Conserta a posição do dark Mode Toggle: */
  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  /* Remove o botão do menu hambúrguer: */
  .nav_toggle {
    display: none;
  }

  .home_container {
    padding: 7rem 2rem 0;
  }

  .share_container {
    padding: 0 2rem;
  }

  .accessories_container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .accessory_content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .accessory_img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .accessory_title,
  .accessory_category {
    text-align: initial;
  }

  .accessory_button {
    padding: 0.75rem;
  }

  .send {
    background: none;
  }

  .send_container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img,
  .share_img,
  .send_img {
    width: 469px;
  }

  .home_container,
  .share_container,
  .send_container {
    column-gap: 5rem;
  }
}
