/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@font-face {
  font-family: "bebas"; /*a name to be used later*/
  src: url("./BebasNeue\ Regular.otf"); /*URL to font*/
  font-family: "acumin"; /*a name to be used later*/
  src: url("./Acumin\ Pro\ ExtraCond\ Bold.otf"); /*URL to font*/

}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #ffffff;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #000000;
  --nav-menu-color: #f7f7f7;
  --container-color: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --box-shadow-card-container-color: rgba(65, 11, 16, 0.15);
  --box-shadow-card-container-hover: rgba(65, 11, 16, 0.3);

  /*========== Font and typography ==========*/
  --body-font: "acumin", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-front-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;

}


/* LOGO IN NAV*/

.duration-500 {
  transition-duration: .5s;
}
.justify-center {
  justify-content: center;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
.translate-y-0, .translate-y-2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2, .-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.z-50 {
  z-index: 50;
}
.top-4 {
  top: 1rem;
}
.left-1\/2 {
  left: 50%;
}
.absolute {
  position: absolute;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}
a, a:focus, button, button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
a, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.h-20 {
  height: 5rem;
}
.flex {
  display: flex;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.fixed {
  position: fixed;
}


.duration-500 {
  transition-duration: .5s;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}
.justify-center {
  justify-content: center;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
.translate-y-0, .translate-y-2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.w-full {
  width: 100%;
}
.h-20 {
  height: 5rem;
}
.flex {
  display: flex;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.z-\[60\] {
  z-index: 60;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.fixed {
  position: fixed;
}



/* Faz com que a rolagem da landing page até o id
seja suave: */
html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #151520;
  --nav-menu-color: #1b1b2c;
  --container-color: #313131;
  --first-color-send: #3a3939;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --box-shadow-card-container-color: rgba(255, 255, 255, 0.15);
  --box-shadow-card-container-hover: rgba(255, 0, 0, 0.3);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.section-title-center b {
  font-size: var(--biggest-font-size);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 986px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  margin-top:30px;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  justify-content: space-between;
  align-items: center;
  /*background-color: var(--body-color);*/
  font-size: 18px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  letter-spacing: .1em;
}

/* fade */
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


/*========== NAV ==========*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_menu {

  margin-left: 30px;
  text-align: center;


}




/*web3 nav*/
.items-start {
  align-items: flex-start;
}
.flex {
  display: flex;
  /* flex-wrap: nowrap; */
}
.web3nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: px;

  text-align: center;

}


@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--nav-menu-color);
    transition: 0.4s;
    box-shadow: 0 0 4px var(--box-shadow-color);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav_item {
  margin-bottom: var(--mb-3);
}

.nav_link,
.nav_logo,
.nav_toggle {
  color: var(--title-color);
  margin: 0;
  font-weight: var(--font-semi-bold);
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px var(--box-shadow-color);
}

/* Scroll Top */
.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(218, 37, 53, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrollTop:hover {
  background-color: var(--first-color);
}

.scrollTop_icon {
  font-size: 2.5rem;
  color: #fff;
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}


/*----scroller */
.scroller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid #fff;
  border-radius: 30px;
}
.scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
          animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}
.scroller small {
  position: absolute;
  width: 174px;
  left: -64px;
  top: -34px;
}


/*========== HOME ==========*/
.home{
  margin-bottom: 4rem;


}
.home_container {

}

.home_img {
  width: 280px;
  justify-self: center;
}

.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home_title b {
  color: var(--first-color);
}

.home_description {
  margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}


/*scroll indicator*/
.border-gray-light {
  --tw-border-opacity: 1;
  border-color: rgb(142 142 142/var(--tw-border-opacity));
}

.border-2 {
    border-width: 2px;
}

.rounded-md {
  border-radius: 10px;
}
.w-\[18px\] {
  width: 18px;
}
.h-\[27px\] {
  height: 27px;
}
.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.-translate-y-full, .translate-y-\[calc\(\(10vh-150px\)\*51\/350-51px\)\] {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-full {
  --tw-translate-y: -100%;
}

.w-full {
  width: 100%;
}



.variable-top {
    top: 100vh;
    top: calc(var(--vh, 1vh) * 100);
    transition-duration: .3s;
}
.duration-500 {
    transition-duration: .5s;
}
.opacity-100 {
    opacity: 1;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.-translate-y-full, .translate-y-\[calc\(\(10vh-150px\)\*51\/350-51px\)\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-full {
    --tw-translate-y: -100%;
}
.translate-y-0 {
    --tw-translate-y: 0px;
}
.translate-y-0, .translate-y-2 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex {
    display: flex;
}

.-mt-6 {
  margin-top: -1.5rem;
}
.absolute {
  position: absolute;
}

.cta-small {
  font-family: Inter;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.text-gray-light {
  --tw-text-opacity: 1;
  color: rgb(142 142 142/var(--tw-text-opacity));
}
.mt-4 {
  margin-top: 1rem;
}
/*========== SHARE ==========*/
.share_data {
  text-align: center;
}

.share_description {
  margin-bottom: var(--mb-2);
}

.share_img {
  width: 280px;
  justify-self: center;
}

/*========== DECORATION ==========*/
.decoration_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.decoration_cards {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px var(--box-shadow-card-container-color);
  border-radius: 1rem;
}

.decoration_cards:hover {
  box-shadow: 0 3px 12px var(--box-shadow-card-container-hover);
}

.decoration_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
/*========== ACCESSORIES ==========*/
.accessories_container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.accessory_content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px var(--box-shadow-card-container-color);
  border-radius: 1rem;
}

.accessory_content:hover {
  box-shadow: 0 3px 12px var(--box-shadow-card-container-hover);
}

.accessory_img {
  width: 110px;
  justify-self: center;
  margin-bottom: 0.25rem;
}

.accessory_title,
.accessory_category {
  text-align: center;
}

.accessory_category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.accessory_price {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-left: 1rem;
}

.accessory_button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/

.send {
  background-color: var(--first-color-send);
}

.send_title,
.send_description {
  color: #fff;
}

.send_description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.send_address {
  display: flex;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.send_input {
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.send_img {
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer_logo {
  color: var(--title-color);
}

.footer_title {
  margin-bottom: var(--mb-2);
}

.footer_logo,
.footer_title {
  font-size: var(--h3-font-size);
}

.footer_description b {
  color: var(--first-color);
}

.footer_link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer_social:hover {
  color: var(--first-color);
}

.footer_copyright {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}
/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home_container,
  .share_container,
  .send_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home_container {
    padding: 5rem 0 0;
  }

  /* Deixa a imagem do lado direito: */
  .home_img {
    order: 1;
  }

  .section-title-center,
  .share_data,
  .send_description {
    text-align: initial;
  }

  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }

  /* Deixa a imagem do lado esquerdo: */
  .share_img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_list {
    display: flex;
    align-items: center;
  }

  .nav_item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  /* Conserta a posição do dark Mode Toggle: */
  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  /* Remove o botão do menu hambúrguer: */
  .nav_toggle {
    display: none;
  }

  .home_container {
    padding: 7rem 2rem 0;
  }

  .share_container {
    padding: 0 2rem;
  }

  .accessories_container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .accessory_content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .accessory_img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .accessory_title,
  .accessory_category {
    text-align: initial;
  }

  .accessory_button {
    padding: 0.75rem;
  }

  .send {
    background: none;
  }

  .send_container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img,
  .share_img,
  .send_img {
    width: 469px;
  }

  .home_container,
  .share_container,
  .send_container {
    column-gap: 5rem;
  }
}
